*.pyc
.project
.pydevproject

*.prefs
.cache/
.idea/
Adventures in The Cloud_ Documenting python code using sphinx and github.html
Adventures in The Cloud_ Documenting python code using sphinx and github_files/
FirmataPlus/libraries/
__init__.py
__pycache__/
abtests/
build/
creating_sphinx_docs.txt
dist/
docs/
documentation/__pycache__/
documentation/images/Screenshot from 2016-01-05 11-45-39.png
examples/__init__.py
examples/__pycache__/
examples/adxl345.py
examples/bug.py
examples/callback_example.py
examples/core_sample.py~
examples/jimmy2.py
examples/mma8452q2.py
examples/mma8452qSave.py
examples/new_blink.py
examples/new_blink2.py
examples/osx_serial.py
examples/prof
examples/prof.txt
examples/rbEncoder.py
examples/rbStandAloneTalk.py
examples/red_bot/
examples/redbot_accel.py
examples/simpleMotors.py
examples/simple_mult_input.py
examples/sock.py
examples/sock3.py
examples/sonar.py
examples/sparkfun_redbot/MrYLogo.png
examples/sparkfun_redbot/__init__.py
examples/sparkfun_redbot/__pycache__/
examples/sparkfun_redbot/abc.py
examples/sparkfun_redbot/accel_basic_pymata3.py
examples/sparkfun_redbot/accel_basic_pymata_core.py
examples/sparkfun_redbot/get_page.py
examples/sparkfun_redbot/html/
examples/sparkfun_redbot/newStandAlone.py
examples/sparkfun_redbot/rbDash.html
examples/sparkfun_redbot/rbStandAlone.py
examples/sparkfun_redbot/rb_accel.py
examples/sparkfun_redbot/redbot.py
examples/sparkfun_redbot/redbot2.py
examples/sparkfun_redbot/redbot_accel.py
examples/sparkfun_redbot/redbot_control.py
examples/sparkfun_redbot/redbot_controller.py
examples/sparkfun_redbot/redbot_dash.py
examples/sparkfun_redbot/sparkfun_experiments/library/__pycache__/
examples/sparkfun_redbot/test_socket_client.py
examples/test3.py
examples/test3accel.py
examples/tmp102.py
keepAliveCalcs.ods
keepAliveCalcs.xls
Would skip repository pymata-aio.wiki/
pymata_aio.egg-info/
pymata_aio/.pymata_core.log
pymata_aio/__pycache__/
pymata_aio/jimmy2.py
pymata_aio/latching.py
pymata_aio/pymata_aio.html
pymata_aio/pymata_aio.log
pymata_aio/pymata_iot.py~
talk/
tcp_stuff.py
test/__pycache__/
test/all.py
test/buttonTest.py
test/dave.py
test/dave2.py
test/dave3.py
test/dave4.py
test/dave5.py
test/i2c/i2c_write/__pycache__/
test/keep_alive.py
test/leigh1.py
test/redbot_demo.py
test/testDigitalReporting.py
test/xyz.py
test_allx.py
wiki_Backup/
